{% extends "index.html" %}

{% block title %}Create Request{% endblock %}

{% block content %}

<div class="container-main" >
  <center><h5>Create Request</h5></center>
  <br>
  <div class="row justify-content-center">
    <div class="col-sm-4">

      {% from "_formhelpers.html" import render_field %}

      <form method="POST" action="{{ url_for('request_form_view')}}" role="form">
        <!-- for security CSRF token to prevent code injection -->
        {{ form.hidden_tag() }}

        {{ render_field(form.title, class='form-control') }}
        {{ render_field(form.description, class='form-control') }}
        {{ render_field(form.target_date, class='form-control') }}
        {{ render_field(form.product_id, class='form-control') }}
        {{ render_field(form.client_id, class='form-control') }}
        {{ render_field(form.client_request_priority, class='form-control') }}

        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
